# build output
dist/
.output/
.next/
out/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.production
.env.development

# macOS-specific files
.DS_Store

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.vercel
.astro
