---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import getSortedPosts from "@utils/getSortedPosts";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(
  ({ frontmatter }) => frontmatter.featured
);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Strengthen Your <br /> Coding Foundation</h1>

      <p>WheyDev is a website created to help people working in programming, or enthusiasts, get stronger by building a more solid tech foundation.</p>
      <p>Some of our core values include: strength, resilience, determination, discipline, community, knowledge, and curiosity.</p>
    </section>

    <Hr />

    <section id="featured">
      <h2 class="mb-6">New posts coming soon.</h2>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply inline-block font-bold mb-6 text-3xl sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
